<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

<% if @article.avatar.attached? %>
   <image src="<%=(url_for(@article.avatar))%>">
<% end %>

<br>

<h2>Comments</h2>
<%= render @article.comments %>

<p>Add a comment:</p>
<%= render 'comments/form' %>
<br>







